<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Character Info</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <img src="../images/logo.jpg" class="img-responsive">
</div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Info</h1>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-8">
        <% if (character) { %>
                    <div class="well">
                        <h3><span class="fa fa-user"></span> <%= character.name %></h3>
                        <p>
                            <strong>Class</strong>: <%= character._id %><br>
                            <strong>Class</strong>: <%= character.class %><br>
                            <strong>Race</strong>: <%= character.race %><br>
                            <strong>Level</strong>: <%= character.level %><br>
                        </p>
                        <button id="profileButton" class="btn btn-warning btn-sm">Back to Profile</button>
                        <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                        <button type="submit" class="btn btn-warning btn-sm">Delete</button>
                    </div>
            <% } %>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("profileButton").onclick = function () {
        location.href = "/profile";
    };
</script>
</body>
</html>

