<!--profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <img src="images/logo.jpg" class="img-responsive">
</div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-5">
            <div class="well">
                <h3><span class="fa fa-wrench"></span> User Account</h3>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>date</strong>: <%= user.date %><br>
                    </p><br>
                    <a href="/logout" class="btn btn-default btn-sm btn-block "><span class="fa fa-sign-out"></span><strong> Logout</a>

            </div>
            <div class="well">
                <h3><span class="fa fa-link"></span> Links</h3>
                <div class="list-group">
                  <a href="/" class="list-group-item list-group-item-action">Home</a>
                  <a href="/profile" class="list-group-item list-group-item-action">This page</a>
                  <a href="/character" class="list-group-item list-group-item-action">Create a character</a>
                  <a href="#" class="list-group-item list-group-item-action" disabled>DnD 5e API</a>
                  <a href="#" class="list-group-item list-group-item-action" disabled>Show Characters</a>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
        <% if (user.characters) { %>
            <% characters.forEach(function(character){ %>
                    <div class="well">
                        <h3><span class="fa fa-user"></span> <%= character.name %></h3>

                            <p>
                                <strong>ID</strong>: <%= character._id %><br>
                                <strong>Class</strong>: <%= character.class %><br>
                                <strong>Race</strong>: <%= character.race %><br>
                                <strong>Level</strong>: <%= character.level %><br>
                            </p>
                            <a href="/character/<%= character._id%>" class="btn btn-default btn-sm"></span><strong> Select</a>
                    </div>
            <% }); %>
        <% } %>
        <% if (user.characters == undefined || user.characters.length == 0) { %>
            <div class="well">
                <h3><span class="fa fa-user"></span> Characters</h3>
                <p>
                    You haven't created a character yet!<br>
                    <strong><a href="/character" class="text-primary">Click here to create one! </a></strong>
                </p>
            </div>
        <% } %>
        <% if (user.characters != undefined && user.characters.length > 0) { %>
            <div class="well">
                <h3><span class="fa fa-plus-circle"></span> New Character</h3>
                <p>
                    If you'd like to create a new character,<br>
                    <strong><a href="/character" class="text-primary">click here to create one! </a></strong>
                </p>
            </div>
        <% } %>
        </div>
    </div>
</div>
</body>
</html>
